body{
  background-color:#44a;
}

h1{
    background-color: #66f;
    text-align: center;
    font-size:35px;
}

h2{
    background-color: #66f;
    text-align: center;
}

#container{
    background-color: #66f;
    display:flex;
    justify-content: center;
    width:100%;
/*  border: 3px #000 solid; */
}

.dados{
    box-shadow: 10px 5px 15px #222;
    background-color: #fff;
    font-size: 80px;
    display:flex;
    justify-content:center;
    align-items:center;
    width:150px;
    height:100px;
    border: 4px #000 solid;
    margin:10px;
    text-align: center;
    line-height:40px;
    padding-bottom:40px;
}

#tirar{
    margin-top: 10px;
    width: 150px;
    font-size: 17px;
}

#container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resultado{
    margin-top:20px;
    border: 3px #000 solid;
    padding: 5px;
    background: #6c6;
    font-size:25px;
}
